/* /Pages/Hours.razor.rz.scp.css */
.center[b-iev4ub0dv7] {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis[b-iev4ub0dv7] {
    position: relative;
    width: 76px;
    height: 80px;
    justify-content: center;
}

    .lds-ellipsis div[b-iev4ub0dv7] {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #F40042;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1)[b-iev4ub0dv7] {
            left: 8px;
            animation: lds-ellipsis1-b-iev4ub0dv7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2)[b-iev4ub0dv7] {
            left: 8px;
            animation: lds-ellipsis2-b-iev4ub0dv7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3)[b-iev4ub0dv7] {
            left: 32px;
            animation: lds-ellipsis2-b-iev4ub0dv7 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4)[b-iev4ub0dv7] {
            left: 56px;
            animation: lds-ellipsis3-b-iev4ub0dv7 0.6s infinite;
        }

@keyframes lds-ellipsis1-b-iev4ub0dv7 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3-b-iev4ub0dv7 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2-b-iev4ub0dv7 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-c56i6wz0nw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-c56i6wz0nw] {
    flex: 1;
}

.sidebar[b-c56i6wz0nw] {
    background-color: #57646d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-row[b-c56i6wz0nw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-c56i6wz0nw]  a, .top-row[b-c56i6wz0nw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-c56i6wz0nw]  a:hover, .top-row[b-c56i6wz0nw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-c56i6wz0nw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-c56i6wz0nw] {
        display: none;
    }

    .top-row.auth[b-c56i6wz0nw] {
        justify-content: space-between;
    }

    .top-row[b-c56i6wz0nw]  a, .top-row[b-c56i6wz0nw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-c56i6wz0nw] {
        flex-direction: row;
    }

    .sidebar[b-c56i6wz0nw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        background-image: url(media/appdrwbg.png),linear-gradient(180deg, #00121e 5%, #ebf0f263 80%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .top-row[b-c56i6wz0nw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-c56i6wz0nw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-c56i6wz0nw], article[b-c56i6wz0nw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b3o70b7sae] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b3o70b7sae] {
    background-color: #e6ecef;
    box-shadow: #0d1e29bf 0px -50px 36px -28px inset;
}

.navbar-brand[b-b3o70b7sae] {
    font-size: 1.1rem;
}
    .navbar-brand img[b-b3o70b7sae] {
        width: 100%;
        height: 80px;
    }

.oi[b-b3o70b7sae] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b3o70b7sae] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b3o70b7sae] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b3o70b7sae] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b3o70b7sae]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b3o70b7sae]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b3o70b7sae]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b3o70b7sae] {
        display: none;
    }

    .collapse[b-b3o70b7sae] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .navbar-brand img[b-b3o70b7sae] {
        height: unset;
    }

    .top-row[b-b3o70b7sae] {
        border-bottom-left-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }
}
